{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}
{{block.super}}
{% if form.errors %}
<p>{{form.error}}</p>
{% endif %}

<body style="background-color:lightseagreen;">
<div class="container" >
    
    <form method="post" enctype="multipart/form-data" class="col-sm-5 m-5">
        <h3 class="text-center">Welcome to Senami</h3>
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-primary btn-sm">Sign Up</button><br>
        <small>Already have an account, <a href="{% url 'login'%}" style="text-decoration: none; font-size: 1rem; ">Sign In</a></small>
    </form>
  
</div>
</body>
{% endblock %}