{% extends 'base.html' %}
{% load bootstrap5 %}
{% load static %}
{% block content %}
{{block.super}}
{% include 'navbar.html' %}

<body style="background-color:lightseagreen;">
    <div class="container">
        <div class="m-3 p-2">
        <h3 >Enter name of chat room you would like to enter</h3>
        <input id="room-name-input" class="col-sm-5 m-2" type="text"><br>
        <input id="room-name-submit" class="btn btn-primary" type="button" value="Enter">
    </div>
    </div>
    <script src="{% static 'js/index.js' %}"></script>
</body>

{% endblock %}