{% extends 'base.html' %}
{% load bootstrap5 %}
{% load static %}
{% block content %}
{{block.super}}
{% include 'navbar.html' %}
<body style="background-color:lightseagreen;">
    <div class="container">
        <div class="p-2">
            <h1 class="text-left">Senami</h1>
            <textarea id="chat-log" style="width: auto; height: 10rem;" class="form-control">

            </textarea>
        </div>

        <input id="chat-message-input" placeholder="Type Message" type="text"><br>
        <input id="chat-message-submit" class="btn btn-primary btn-sm m-2" type="button" value="Send">
    </div>

    {{ room_name|json_script:"room-name" }}
    {{ request.user.username|json_script:"user_username" }}

    <script type="text/javascript" src="{% static 'js/room.js' %}"></script>
</body>

{% endblock %}